<div class='content'>
<p><%= @video['title']%></p>
<p><%= @video['description']%></p>
<p><%= @video['url']%></p>
<p><%= @video['genre']%></p>
</div>


<iframe width="420" height="315" src="<%= @video['url']%>"></iframe>


<form action="/videos/<%= @video['id']%>/delete" method="POST">
  <button name="_method" value="delete">delete</button>
</form>

<a href="/">Home</a>
<a href="/videos/<%= @video['id']%>/edit">edit</a>